

.image-container{
    color: #ffe203;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;

}

nav .navbar-brand{
    color: #ffe203;
    font-family: "Krona One", sans-serif;
    font-weight: 600;
    font-size: 30px;
}


@media (max-width: 991px){
    .sidebar{
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}
/* the first page with text ontop */
.image-container {
    position: relative; /* Needed for absolute positioning of child */
  }

  .image-container img {
    width: 100%; /* Optional: Adjust image width if needed */
    display: block;
  }

  .image-container p {
    position: absolute;
    top: 15%;
    left: 5%;
    right: 30%;
    color: rgb(255, 255, 255); /* Example text color */
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent background */
    padding: 10px;
    font-size: 70px;
  }

  .image-container a {
    position: absolute;
    top: 55%;
    left: 70%;
    right: 10%;
    color: #ffe203;
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent background */
    padding: 10px;
    font-size: 25px;
  }

.overview{
    padding-top: 10px;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #5B687F;
    font-family: "Krona One", sans-serif;
    color:white;
}
.overview div{

    padding-left: 30%;
    padding-right: 10%;
    background-color: #5B687F;
    font-family: "Krona One", sans-serif;
    color:white;

}

.overview2{

    padding-top: 10px;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #5B687F;
    font-family: "Krona One", sans-serif;
    color:white;
}
.ove2heading{
    padding-left: 40%;
    font-size: 25px;

}
.styled-line {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 5%;
    height: 5px; /* Set the height of the line */
    background-color: #5B687F; /* Set the background color of the line */
    width: 95%; /* Set the width of the line */
}



.text {
    padding-top: 2%;
    padding-bottom: 5%;
    text-align: center ;
    font-family: "Krona One", sans-serif;
    color:white;
}

.text2 {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 5%;
    font-family: "Krona One", sans-serif;
    color:white;
}


.text2 div {
    text-align: center ;
    font-family: "Krona One", sans-serif;
    color:white;
}

/* image and text*/
.card-link {
    text-decoration: none; /* Remove underline from link */
    color: inherit; /* Inherit text color */
  }
  
.card{
    
    transition: all 0.3s;
}
.big-container{
    background-color: #384152;
    padding-top: 20px;
}
.card:hover{
    transform: scale(1.15);
}




/*
.halfdivide{
    display: flex;
    font-family: "Krona One", sans-serif;
    background-color: #22391A;
    color:white;
}

.halfdivide div{
    flex: 50%;
}
.halfimage{
    flex:100%;
}
.halfdividemore{
    padding-top: 7%;
    padding-left: 10%;
    padding-right: 2%;
}

.halfdividemore2{
    padding-top: 7%;
    padding-right: 10%;
    padding-left: 2%;
    background-color: #22391A;
    color:white;
}
 */



.footer{
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: center;
    background-color: #384152;
    font-family: "Krona One", sans-serif;
    color:white;
}

#seeMore{
    color: #ffe203;
    background-color: #22391A;
    font-family: "Krona One", sans-serif;
    font-size: 40px;
    border-radius: 10px;
    padding: 10px;
    width: 150%;
    white-space: nowrap;
}
