

.image-container{
    color: #384152;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;

}

nav .navbar-brand{
    color:  #384152;
    font-family: "Krona One", sans-serif;
    font-weight: 600;
    font-size: 30px;
}


@media (max-width: 991px){
    .sidebar{
        background-color: rgba(255, 255, 255, 0.15); 
        backdrop-filter: blur(10px);
    }
}
/* the first page with text ontop */
.image-container {
    position: relative; /* Needed for absolute positioning of child */
  }
  
  .image-container img {
    width: 100%; /* Optional: Adjust image width if needed */
    display: block;
  }
  
  .image-container p {
    position: absolute;
    top: 15%;
    left: 5%;
    right: 30%; 
    color: #384152; /* Example text color */
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent background */
    padding: 10px;
    font-size: 70px;
  }
  
  .image-container a {
    position: absolute;
    top: 55%;
    left: 70%;
    right: 10%; 
    color: #ffe203;
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent background */
    padding: 10px;
    font-size: 25px;
  }

/* image and text */

.footer{
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: center;
    background-color: #384152;
    font-family: "Krona One", sans-serif;
    color:white; 
}