h1,h2 {
    text-align: center;
    color: #333;
}

.HomeLink {
    text-align: left;
    margin: 20px 0;
}

button {
    display: inline;
    margin-bottom: auto;
    margin-left: 10px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}

.NavButtons {
    margin-left: 30%;
}

#Vispage {
    display: inline;
    margin-bottom: auto;
    margin-left: 10px;
    padding: 10px 20px;
    background-color: rgb(0, 187, 255);
    color: rgb(255, 255, 255);
    border: none;
}

.setActiveButton {
    border-bottom: 2px solid black;
}

svg {
    display: block;
    margin: auto;
}

.yearButton.active {
    background-color: #194921; /* Green */
    color: white;
}

text {
    fill: rgb(0, 0, 0);
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 40px;
    padding: 4px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
}
#ChartYears {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    gap: 10px;               /* Add space between buttons */
}

.yearButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: grey;
    color: white;
}

.gragh{
    padding-top: 5%;
}
.charts-text{
    text-align: center;
    font-family: "Krona One", sans-serif;
}

.description{
    padding-left: 5%;
    padding-right: 5%;
    font-family: "Krona One", sans-serif;
}
